#container  {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 400px;
    margin: 50px auto;
}


#display {
    background-color: black;
    border-radius: 6px 6px 0 0;
    color: green;
    height: 300px;
    width: 400px;
}



.btn-calc{
    background-color: rgb(88, 88, 88);
    border-radius: 0 0 6px 6px;
    height: 272px;
    padding: 8px;
}


button {
    background-color: rgb(149, 149, 150);
    border: 2px solid rgb(66, 66, 66);
    border-radius: 8px;
    font-size: 16pt;
    width: 84px;
    height: 60px;
    margin: 4px;
}


button:hover {
    background-color: rgb(182, 182, 182);
}


button:active {
    background-color: rgb(97, 97, 97)
}